.suh {
  width: 550px;
}
.tovchluur {
  width: 200px;
}
.tolgoi {
  height: 91vh;
  width: 100vw;
  /* background-color: black; */
}
.biy {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}
.wave {
  height: 100%;
  width: 100%;
  /* background-color: blanchedalmond; */
  background-position: bottom;
  background-size: cover;
  display: flex;
}
.zuun {
  width: 50%;
  height: 50%;
  margin-left: 100px;
  /* background-color: red; */
  /* display: flex;
  justify-content: center; */
}
.Baruun {
  width: 50%;
  height: 65%;
  margin-left: -170px;
  /* background-color: blue; */
}
/* .zuun {
  display: flex;
} */
.deed {
  margin-top: 50px;
  width: 50%;
  height: 50%;
  /* background-color: blue; */
  display: flex;
  padding-top: 100px;
}
.dood {
  width: 100%;
  height: 15%;
  display: block;
  background-color: black;
}
.bichg {
  width: 50%;
  height: 50%;
  background-color: violet;
  justify-content: center;
  align-items: center;
}
.hel {
  height: 3.5%;
  /* background-color: wheat; */
  width: 100%;
  margin-top: -170px;
}
.uram {
  margin-top: 70px;
  display: flex;
  height: 176.7px;
  width: 1440px;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
}
.husnegt {
  /* margin-left: 50px;
  margin-right: 50px; */
  height: 225px;
  width: 370px;
  background-color: #c3ffff;
  box-shadow: black;
  border-radius: 9px;
}
.jich {
  margin-left: 65px;
}
.pop {
  height: 60%;
  width: 110%;
  /* background-color: red; */
  display: flex;
}
.pep {
  height: 40%;
  width: 100%;
  /* background-color: black; */
}
.pl {
  height: 30%;
  width: 50%;
  /* background-color: violet; */
  display: flex;
}
.pk {
  height: 100%;
  width: 40%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nogoon {
  margin-top: 15px;
  height: 100%;
  width: 700px;
  /* padding: 50px 60px; */
  background: #40d469;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
}
.sum {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background: chocolate; */
  margin-left: 10px;
}
.hor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16.5px;
}
.kp {
  height: 115px;
  width: 115px;
  /* background-color: red; */
}
.yom {
  height: 35%;
  width: 100%;
  /* background-color: blue; */
}
.ger {
  height: 100%;
  width: 75%;
  /* background-color: blueviolet; */
}
.bg {
  /* margin-top: 200px; */
  height: 100%;
  width: 100%;
  /* background-color: brown; */
  margin-top: 50px;
}
.hol {
  height: 100vh;
  width: 100vw;
  background-color: #f2ffff;
}
.onoo {
  /* margin-top: 500px; */
  height: 294.5px;
  width: 100vw;
  /* background-color: brown; */
}
.sub {
  /* background-color: yellow; */
  width: 100vw;
  height: 147.25px;
}
.lorem {
  /* background-color: purple; */
  width: 100vw;
  height: 100%;
}
.larn {
  margin-top: 10px;
  margin-left: 50.6px;
  width: 96.5vw;
  height: 30px;
  /* background-color: burlywood; */
}
.lorm {
  margin-left: 50.6px;
  width: 85.5vw;
  height: 200.6px;
  margin-top: 64px;
  /* background-color: cadetblue; */
}
.polp {
  height: 100%;
  width: 100%;
  /* background-color: cadetblue; */
}
.kadr {
  height: 50%;
  width: 100%;
  /* background-color: chartreuse; */
}
.kedr {
  margin-left: 50.6px;
  height: 50%;
  width: 85.5vw;
  /* background-color: red; */
}
.papl {
  height: 100%;
  width: 50%;
  /* background-color: chocolate; */
}
